@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  @apply antialiased;
}

html, body {
  height: 100%;
  overflow: hidden;
}
* {
  @apply transition-all duration-100;
  scrollbar-width: none;

}

#main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.no-scroll {
  scrollbar-width: none;
}

#backName {
  width:inherit;
  max-width:inherit;
  position: sticky;
  top: 0;
}

#mainContainer {
  /* display: flex; */
  justify-content: space-around;
  align-items: flex-start;
}